
body{
   
  
    box-sizing: border-box;
    font-family: Shadows Into Light;
    width: 100%;
    height: 100%;
}

header{
    background-color: #414833;
    border-radius: 10px;
    height: 115px;
}

.logo{
    height: 90px;
    width: 90px;
    float: left;
    padding: 10px 0px 25px 70px;
    border-radius: 100%;



}

.lista{
    float: right;
    list-style: none;
    margin-right: 35px;
    font-weight: 80px;
    text-transform: uppercase;
    position: relative;
    border-radius: 15px;
    background-color: #656D4A;
    font-weight: 800px;
}

.lista:hover{
    background-color: #A4AC86;
    transition: all;
}



nav ul li{
    margin-right: 55px;
    float: left;
    padding: 25px 0;
}

nav ul li a{
    text-decoration: none;
    color: #f1ece2;
    font-weight: bold;
    font-size: 18px;
    gap: 60px;

}

.divinicio{

    width:100% ;
    background-color: #83552d;
    display:flex;
    justify-content: center;
    align-items: center;

}

.imgcaramel{
    width: 35%;
    border-radius: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  
}
.containerinicio{
    width: 50%;
    font-weight: 80px;
    margin: 40px;
    font-style: oblique;
    background-color: #A68A64;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.containerinicio h1{
    font-size: 80px;
   
    border-radius: 15px;
}

.containerinicio p{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-right: 30px;
}

.botones{
    display: flex;
   gap: 25px;
   font-weight: 300px;
   font-size: 40px;
}


.botoninicio{
    border-radius: 25px;
    border-style: ;
    width: 50%;
    height: 40px;
    
}

.botoninicio:hover {
     background-color: #656d4a;

 }


.portada{
    margin: 30px;
}

.parrafo{
   
    padding: 20px 20px 0 20px;
   
    
    font-weight: 900;
    font-size: 25px;

}
.parrafos-flex{
   display: flex;
   justify-content: space-around;
   margin: 0;
   padding:0;

}

.parrafos-flex img{
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}



.title-container{
    text-align: center;
    font-size:  25px;
    font-weight: 100px;
    text-align: center;
   padding: 10px 10px;
   font-style: oblique;
   background-color: white;
    width: 100%;
    justify-content: center;
    margin-top: 0;
  
    display: flex;
}


.title-img{
    display: flex;
    justify-content: center;
   
}


.container-card{
    width: 100%;
    max-width: 1200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    

}

.container-card .card{
    width: 330px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #A68A64;

}

.container-card .card:hover{

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);


}

.container-card .card img{
    width: 330px;
    height: 220px;

}
.container-card .card h3{
    font-weight: 900px;
    font-size: 25px;
    font-style: oblique;
    background-color: #A68A64;
  
}

.container-card .card p{
    padding: 0 ;
    
    font-weight: 700;
    font-size: 20px;
    background-color: #A68A64;


}

#section-card{
    background-color: #83552d;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 20px 0px;
 
   
 
}

#section-footer{
    background-color: #83552d;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 10px 10px;
    
}


.container-footer{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 10px;
    width: 330px;
    height: 360px;
    
    
}
.container-footer h2{
    font-weight: 2000;
    font-size: 30px;
    font-style:initial;

}
.container-footer p{
    font-size: 20px;
    font-weight: 500;
}
.container-img img{
    width:455px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

}
/* 
<!--login style--> */

.bodyLogin{
    background:url(./img/fondo-cafeteria-blanco-negro_125540-817.jpg);
}

.loginSection {
    height: 100%;
    margin: 0;
    padding: 0;
     /* background-image: url(./img/marco-del-diseño-de-la-cafetería-fondo-estilizado-del-café-de-la-pizarra-55470374.jpg);  */
     border-radius: 10%;
     width: 500px;
     margin: 40px 30px 30px 350px;
     border-color: black;
     box-shadow: black 50px;
     background-color: white;

   
     
    

}
   

.login {
    display: flex;
    justify-content: center;
    align-items: center;      
}


.formLogin {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;   
}

.formLogin a {
    color: black;
}

.textLogin{
    background-color: white;
    font-size: 40px;  
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.loginSection hr{
    height: 10px;
    background-color: black;
}

.loginRecuerdame{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.loginCheckbox{
    width: 4rem;
    height: 5rem;
    font-size: 40px;    
}

input {
    width: 25rem;
    height: 5rem;
    display: flex;
    background: none;
    outline: 0px;
   
    font-size: 25px;    
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    
    border-radius: 30px;
  
}

.formLogin :nth-child(3) {
    color:  black;
    text-decoration: none;
}

.button {
    margin: 10px;
    width: 9rem;
    padding: 5px;
    margin-top: 10px;
    font-size: 25px;
    background-color: var(--clr4);
    border-radius: 20px;
   
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: rgb(85, 203, 120);
    transition : all 0,3s linear;
    opacity: 10;
}

button{
    background-color: var(--clr4);
    border: 0px;
    outline: none;
    width: 180px;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition : all 0,3s linear;
    border-radius: 25px;
}

button:hover{
    background-color: rgb(85, 203, 120);
    transition : all 0,3s linear;
    opacity: 10;
}

::placeholder{
    color:  rgb(85, 203, 120);
}

.loginSection h1{
    display: flex;
    justify-content: center;
    font-weight: 1000;
    font-size: 30px;
    /* margin-top: 80px; */
    padding-top: 30px;
}

/* contacto */

.formulario-contacto-container {
    max-width: 1300px;  
    margin: 40px 300px 0 300px;
    
}
.formulario-contacto{ 
    max-width: 1300px;  
    width: 500px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    font-size: 35px;
    font-style: 3em;  
    margin: 0 100px 0 90px;
    
}

.formularioContacto{    
    display: flex;
    flex-direction: column;
   
    align-items: center;
    padding: 10px 0 5px 0;
    
        
    
}

.formularioContacto h1{
    font-size: 45px;
    font-style: 3em; 
}

textarea{
    min-width: 400px;
    min-height: 120px;
    max-width: 1300px;
    max-height: 120px;
    font-size: 25px;
    border-radius: 25px;
}

.btn-form{    
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    border-radius: 25px;
    border: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.btn-form:hover{
    background-color: rgb(85, 203, 120);
    transition : all 0,3s linear;
    opacity: 10;
}

.botom-container-formulario{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}



    
    
